<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weekly Report</title>
  </head>
  <body>
    <h1>THE JITU WEEKLY REPORT FOR WEEK 8</h1>
    <p>Date: June 23rd, 2023</p>
    <p>
      The week has been interesting with the different functionalities being
      introduced. The middlewares, sending mails, cron jobs and finally the ejs
      templating classes were intriguing and gave me a clear view of what is
      expected in industrial deployed websites. Throughout the week it was
      exciting to try include these different concepts in the group project.
      looking forward to learning more in the coming weeks.
    </p>
  </body>
</html>
